{% load staticfiles %}

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Metro Bus Software</title>

        <!-- CSS -->
        
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/form-elements.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/buttons.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-general.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-sizes.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-shapes.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-bg-colors.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-bg-images-48.css' %}"/>
		<link rel="stylesheet" href="{% static 'ultimate-flat-social-icons/ultm-css/ultm-effects.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/media-queries.css' %}"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}"/>
        
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}"/>
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}"/>
		<link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}"/>


    </head>

    <body>
    	{% block content %}
		
		<!-- Top menu -->
		<nav>
			<a class="menu-top" href="">Inicio</a>
			<a class="menu-features" href="">Caracteristicas</a>
			<a class="menu-movie" href="">Video</a>
			<a class="menu-download" href="">Descargar</a>
			<a class="menu-subscribe" href="">Subscripcion</a>
		 	
			
			<a class="menu-about-us" href="">Equipo</a>
			<a class="menu-contact" href="">Contacto</a>
			<!--<div class="hide-menu">
				<a href="" rel="tooltip" data-placement="bottom" data-original-title="Hide menu">
					<i class="fa fa-bars"></i>
				</a>
			</div> -->
			<a href="http://metrobus.herokuapp.com/api/">API</a>
		</nav>
		<!--<div class="show-menu">
			<a href="" rel="tooltip" data-placement="bottom" data-original-title="Show menu">
				<i class="fa fa-bars"></i>
			</a>
		</div>-->
		
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                    	<div class="col-sm-5 phone">
                        	<img src="{% static 'img/test5.png' %}" alt="">
                        </div>
                        <div class="col-sm-7 text">
                        	<div class="logo">
                        		<h1><a href="">MetroBus - Responsive App Landing Page</a></h1>
                        	</div>
                            <h2>Plataforma MetroBus</h2>
                            <div class="description">
                            	Es la siguiente App que revolucionará el transporte en toda la región para que te desplaces más fácil. Sumante al cambio. Tenemos las mejores caracteristicas que la hacen única entre todas.

                            </div>
                            <div class="top-button">
                            	<a class="button-1" href="#"><i class="fa fa-apple"></i> Get it now</a>
                            </div>
                            <div class="top-arrow">
                            	<i class="fa fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Features -->
        <div class="features-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 features">
	                    <h3>Características</h3>
	                    <p>
                          	Estamos trabajando duro en el diseño de nuestro nuevo producto con características que harán del sistema de trasporte mejore en las ciudades.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-share-alt"></i>
	                	</div>
	                    <h4>Ubicación de lineas</h4>
	                    <p>
	                    	Ubica rápidamente a que distancia de ti está el bus que te llevará a tu casa o trabajo. Y visualiza en tiempo real la ubicación de tu bus.
	                    </p>
	                </div>
	                
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-check-square"></i>
	                	</div>
	                    <h4>LLega a tu destino</h4>
	                    <p>
	                    	Eres nuevo en la ciudad? averigua que lineas de transporte te llevan a tu destino.
	                    </p>
	                </div>

	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-google"></i>
	                	</div>
	                    <h4>Reconocimiento por Voz</h4>
	                    <p>
	                    	Preguntale a tu smartphone donde y a que distancia esta de ti.
	                    </p>
	                </div>
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-bus"></i>
	                	</div>
	                    <h4>Modo Servidor</h4>
	                    <p>
	                    	Eres una Empresa de transporte? Esto es ideal y mucho mejor que otros para ti.  
	                    </p>
	                </div>

	            </div>
	        </div>
        </div>
        
        <!-- Single feature -->
        <div class="single-feature-container single-feature-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h3>Localización de lineas</h3>
	                    <p>
	                    	No pierdas tiempo y averigua con nosotros donde esta tu bus. Localizacion por GPS de tu bus para que veas si está cerca o muy lejos de ti.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 single-feature-img">
	                    <img src="{% static 'img/test4.png' %}" alt="">
	                </div>
	            </div>
	        </div>
        </div>

     
        <!-- Single feature -->
        <div class="single-feature-container single-feature-no-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h3>LLega a tu destino</h3>
	                    <p>
	                   		¿No sabes que línea te lleva a un punto específico de la ciudad?. Con esta nueva caracteristica podras llegar y saber que rutas te llevan a tu destino.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 single-feature-img">
	                    <img src="{% static 'img/test3.png' %}" alt="">
	                </div>
	            </div>
	        </div>
        </div>
    

        <!-- Single feature -->
        <div class="single-feature-container single-feature-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h3>Reconocimiento de Voz</h3>
	                    <p>
	                    	Por que queremos traerto lo último en tecnología, podras manipular a MetroBus mediante comandos de voz. Averigua donde se encuentra tu bus por comandos de voz y que carros pasan por la ruta que deseas llegar.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 single-feature-img">
	                    <img src="{% static 'img/test2.png' %}" alt="">
	                </div>
	            </div>
	        </div>
        </div>
        

        <!-- Single feature -->
        <div class="single-feature-container single-feature-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h3>Líneas de Transporte</h3>
	                    <p>
	                    	Te ofrecemos la primero y mejor solución de geolocalizacion y automatizacion de las flotas de su Linea de Trasporte. Donde podras registrar en cada segundo la posición de cada bus, Marcado automático de puntos claves de la ciudad.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12 single-feature-img">
	                    <img src="{% static 'img/test2.png' %}" alt="">
	                </div>
	            </div>
	        </div>
        </div>
      
      
       <!-- Call to action -->
        <div class="movie-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 movie">
	                    <h3>Video</h3>
		         	    <div style="margin: 0 auto; width: 800px">
		                                 <iframe src="https://editor.moovly.com/embed/beea69b9-1753-8736?width=800&height=450" width="800" height="450"></iframe>
		                    </div>
                 
                        </div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Call to action -->
        <div class="call-to-action-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 call-to-action-text">
	                    <h3>Descargalo</h3>
	                    <p>
	                    	Consigue una versión Beta de desarrollo de lo que se convertira MetroBus... Estamos trabajando en mejorarla más y ofrecerte lo mejor.
	                    </p>
	                    <div class="call-to-action-button">
                         
                            <a class="button-2" href="{% static 'download/0.1/MapBus.apk' %}"><i class="fa fa-mobile"></i> Descargala </a>
                   
                        </div>
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Subscription form -->
        <div class="subscribe-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 subscribe">
	                    <h3>Suscribete a nosotros</h3>
	                    <p>Subscribete y serás el primero en conocer las actualizaciones y nuevas características:</p>
	                    <form class="form-inline" action="{% static 'subscribe.php' %}" method="post">
	                        <input type="text" name="email" placeholder="Enter your email...">
	                        <button type="submit" class="btn">Subscribirse</button>
	                    </form>
	                    <div class="success-message"></div>
	                    <div class="error-message"></div>
	                </div>
	            </div>
	        </div>
        </div>
        
        <!-- Testimonials
        <div class="container">
            <div class="row">
                <div class="col-sm-12 testimonials">
                    <h3>¿Que es lo que piensan nuestros usuarios?</h3>
                    <div class="testimonial-active"></div>
                    <div class="testimonial-quote">&ldquo; &rdquo;</div>
                    <div class="testimonial-single">
                    	<p>
                    		Pierdo mucho tiempo esperando mi combi todos  los dias al ir a mi Universidad.
                    		<br>
                    		<a href="">Aldo, jaldo@ucsp.edu.pe</a>
                    	</p>
                    	<div class="testimonial-single-image">
                    		<img src="{% static 'img/testimonials/aldo_58x58.jpg' %}" alt="">
                    	</div>
                    </div>
                    <div class="testimonial-single">
                    	<p>
                    		Nunca he oído de esto pero seria genial que pueda ver donde esta mi combi.
                    		<br>
                    		<a href="">Pamela Revuelta </a>
                    	</p>
                    	<div class="testimonial-single-image">
                    		<img src="{% static 'img/testimonials/pamela_58x58.jpg' %}" alt="">
                    	</div>
                    </div>
                    <div class="testimonial-single">
                    	<p>
                    		Cuando estará lista el app para probarlo. Me gusta la idea de ubicar mi micro.
                    		<br>
                    		<a href="">Ricardo Loayza</a>
                    	</p>
                    	<div class="testimonial-single-image">
                    		<img src="{% static 'img/testimonials/colorado_58x58.jpg' %}" alt="">
                    	</div>
                    </div>
                    <div class="testimonial-single">
                    	<p>
                    		 Seria genial que nuestros pasajeros supieran donde estamos y asi puedan saber cuanto tiempo esperar hasta que pasemos por ellos. 
                    		<br>
                    		<a href="">Linea de Transporte Graficos</a>
                    	</p>
                    	<div class="testimonial-single-image">
                    		<img src="{% static 'img/testimonials/graficos_58x58.jpg' %}" alt="">
                    	</div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!-- Who's behind this -->
        <div class="whos-behind-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 whos-behind">
	                    <h3>Equipo</h3>
	                    <p>

	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-6 whos-behind-box-1">
	                	<div class="whos-behind-photo">
	                		<img src="{% static 'img/team/george-size.png' %}" alt="">
	                		<div class="whos-behind-social">
	                			<a href=""><i class="fa fa-facebook"></i></a>
	                			<a href=""><i class="fa fa-twitter"></i></a>
	                			<a href=""><i class="fa fa-linkedin"></i></a>
	                			<a href=""><i class="fa fa-envelope"></i></a>
	                		</div>
	                	</div>
	                    <h4>George Ataucuri</h4>
	                    <h5>Founder</h5>
	                    <p>
	                    	
	                    </p>
	                </div>
                         <div class="col-sm-6 whos-behind-box-1">
	                	<div class="whos-behind-photo">
	                		<img src="{% static 'img/team/christian_100x100.png' %}" alt="">
	                		<div class="whos-behind-social">
	                			<a href=""><i class="fa fa-facebook"></i></a>
	                			<a href=""><i class="fa fa-twitter"></i></a>
	                			<a href=""><i class="fa fa-linkedin"></i></a>
	                			<a href=""><i class="fa fa-envelope"></i></a>
	                		</div>
	                	</div>
	                    <h4>Christian Portilla</h4>
	                    <h5>Desarrollador & Backend</h5>
	                    <p>
                    	</p>
	                </div>
	                
	                <!--<div class="col-sm-4 whos-behind-box-1">
	                	<div class="whos-behind-photo">
	                		<img src="{% static 'img/team/3.jpg" alt="">
	                		<div class="whos-behind-social">
	                			<a href=""><i class="fa fa-facebook"></i></a>
	                			<a href=""><i class="fa fa-twitter"></i></a>
	                			<a href=""><i class="fa fa-linkedin"></i></a>
	                			<a href=""><i class="fa fa-envelope"></i></a>
	                		</div>
	                	</div>
	                    <h4>Sarah Red</h4>
	                    <h5>Designer</h5>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
	                    	labore et.
	                    </p>
	                </div> -->

	            </div>

	            <div class="row">
                <div class="col-sm-12 whos-behind-box-1">
	                	<div class="whos-behind-photo">
	                		<img src="{% static 'img/team/steve.jpg' %}" alt="">
	                		<div class="whos-behind-social">
	                			<a href=""><i class="fa fa-facebook"></i></a>
	                			<a href=""><i class="fa fa-twitter"></i></a>
	                			<a href=""><i class="fa fa-linkedin"></i></a>
	                			<a href=""><i class="fa fa-envelope"></i></a>
	                		</div>
	                	</div>
	                    <h4>Steve Ataucuri</h4>
	                    <h5>CO-Founder and Main Developer</h5>
	                    <p>
                    	</p>
	                </div>	
	           	</div>
	            <!-- Latest tweets -->
	            <!--
	            <div class="row">
	                <div class="col-sm-12 latest-tweets">
	                    <h4>Our Latest Tweets</h4>
	                    <p class="tweet-active"></p>
	                    <div class="tweets"></div>
	                </div>
	            </div> -->
	        </div>
        </div>
        
        <!-- How to contact us -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 contact">
                    <h3>Contactanos !</h3>
                    <p>
                    	Escribenos tus inquietudes queremos saber que piensas, te responderemos lo más pronto posible
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 contact-form">
                    <h4>Enviar Mensajes</h4>
                    <form method="post" action="{% static 'contact.php' %}">
                        <input type="text" name="email" placeholder="Email..." class="contact-email">
                        <input type="text" name="subject" placeholder="Subject..." class="contact-subject">
                        <textarea name="message" placeholder="Message..."></textarea>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
                <div class="col-sm-5 contact-address">
                    <h4>Visitanos</h4>
                    <div class="map"></div>
                    <h4>Dirección</h4>
                    <p><i class="fa fa-map-marker"></i>Av. Jorge Chavez, 2do piso, Arequipa, Peru</p>
                    <p><i class="fa fa-phone"></i>Telefono: 54-212430</p>
                </div>
            </div>
        </div>
        
        {% endblock %}

        <!-- Footer -->
        <footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-7 footer-copyright">
	                    <p>&copy; MetroBus Software Company <br>All rights reserved.</p>
	                </div>
	                <div class="col-sm-5 footer-social">
	                    <a class="ultm ultm-facebook ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                    <a class="ultm ultm-twitter ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                    <a class="ultm ultm-google-plus-1 ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                    <a class="ultm ultm-dribbble ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                    <a class="ultm ultm-pinterest ultm-48 ultm-square ultm-gray-to-color" href=""></a>
	                </div>
	            </div>
	        </div>
        </footer>
        
        <!-- Javascript -->
        <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
		<script src="{% static 'twitter/jquery.tweet.min.js' %}"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="{% static 'js/jquery.ui.map.min.js' %}"></script>
		<script src="{% static 'js/retina-1.1.0.min.js' %}"></script>
		<script src="{% static 'js/scripts.js' %}"></script>

    </body>

</html>

